// SHADOWS
$shadow-thin: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

// DIMENSIONS
$padding-sm: 4px;
$padding: 10px;

// COLORS
$light-blue: #F9F9F9;
$white: #FFF;
$accent: #D7E7FA;
$green: #CCFFCC;
$pink: #FFC5B2;
$yellow: #FFE2B2;